@media (max-width:768px){
    body.lock{
        overflow: hidden;
    }
    .burger-menu{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 20px;
        left: 270%;
    }
    .burger-menu span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .burger-menu::before,
    .burger-menu::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .burger-menu::before{
        top: 0;
    }
    .burger-menu::after{
        bottom: 0;
    }
    .header-menu{
        position: fixed;
        top: -100%;
        left: -57px;
        width: 103%;
        height: 100%;
        background-color: #161012;
        z-index: 5;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        overflow: auto;
    }
    .header-menu.active{
        top: 65px;
    }
    .burger-menu.active span{
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }
    .burger-menu.active::before{
        -webkit-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
                transform:rotate(45deg);
        top:9px;
    }
    .burger-menu.active::after{
        -webkit-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
                transform:rotate(-45deg);
        bottom:9px
    }
    .header-menu_items{
        display: block;
        text-align: center;
    }
    .header-top{
        -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
    }
    .info-conteiner{
        margin: 25px 0;
    }
    .info-description{
        padding: 50px 0;
    }
    .description-rigth{
        margin: 15px;
    }
    .product-conteiner{
        width: 700px;
    }
    .product-item img{
        width: 175px;
    }
    .product-slider_items{
        margin: 0 0 51px 0px;
    }
    .item-price{
        top: 30px;
        right: 5px;
    }
    .hover-description{
        width: 140px;
        margin: 45px auto 35px;
    }
    .hover-description p{
        margin: 10px 0 -11px 0;
    }
    .hover-description_text{
        font-size: 0.6rem;
    }
    .showMore-row{
        width: 700px;
    }
    .showMore-items{
        grid-column-gap: 0px;
        margin: 35px 0px 50px 0px;
    }
    .showMore_item h3{
        width: 220px;
    }
    .showMore-item_description{
        max-width: 200px;
    }
    .footer-items{
        grid-column-gap: 0;
    }
    .footer-adress{
        padding: 0;
    }
    .footer-subscription{
        margin: 0 10px;
    }
    .footer-subscription h3{
        font-size: 1rem;
    }
    .footer-search{
        width: 90%;
    }
    /* card-product */
    .cardProduct-item__title h2{
        font-size: 1.25rem;
    }
    .cardProduct-item__characteristics ul li, 
    .cardProduct-other__characteristics ul{
        font-size: 0.7rem;
    }
    .news-heading h2, 
    .ourOffers-heading h2, 
    .photogaleryPage-heading h2, 
    .cardProduct-heading h2{
        font-size: 1.5rem;
    }
}
/* _________________________________________mobile_________________________________________ */
@media(max-width:650px){
    body{
        overflow-x: hidden;
    }
    .description-rigth{
        display: none;
    }
    /* card-product */
    .cardProduct-item{
        display: block;
    }
    .cardProduct-item-left{
        display: flex;
        justify-content: center;
    }
    .cardProduct-item-left .item-price{
        right: 5%;
    }
    .cardProduct-item-left img,
    .cardProduct-item__right{
        margin: 0 auto 20px;
    }
}
@media(max-width:475px){
    html{
        overflow-x: hidden;
    }
    .description-rigth{
        display: none;
    }
    .slider-description h1{
        font-size: 1.25rem;
        line-height: 45px;
        text-align: center;
    }
    .slider-description strong{
        font-size: 1.5rem;
    }
    .burger-menu{
        left: 215%;
    }
    .product-slider{
        max-width: 435px;
    }
    .product_items{
        max-width: 245px;
    }
    .product-slider_items{
        max-width: 245px;
        margin: 0 auto 51px;
    }
    .description-left{
        margin: 25px auto;
        max-width: 350px;
    }
    .showMore-items{
        display: block;
        margin: 0 95px;
    }
    .showMore{
        margin: 0;
    }
    .footer-items{
        padding: 3px 0px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .footer-search{
        width: 100%;
        text-align: center;
    }
    .footer-subscription{
        margin: 0 auto;
        text-align: center;
    }
    .aboutUs-menu ul li a{
        font-size: 0.9rem;
        padding: 0px 15px;
    }
    .aboutUs-menu ul{
        padding: 0;
    }
    .menu__pseudo::after, 
    .menu__pseudo::before{
        bottom: 87%;
    }
    .cardProduct-item__characteristics ul li,
     .cardProduct-other__characteristics ul{
        text-align-last: left;
    }
}

@media(max-width:410px){
  
    .header-menu_items{
        margin: 0 40px 0 0;
    }
    .burger-menu{
        left: 140%;
    }
    .info-conteiner{
        display: block;
        padding: 35px 0;
    }
    .info-description{
        padding: 30px 0;
    }
    .description-left{
        width: 290px;
        margin: 0 auto;
    }
    .slider-description h1{
        font-size: 1.25rem;
        line-height: 45px;
        text-align: center;
    }
    .slider-description strong{
        font-size: 1.5rem;
    }
    .description-rigth{
        margin: auto;
    }
    .description-rigth{
        display: none;
    }
    .description-rigth_text h2{
        font-size: 1rem;
    }
    .description-rigth_text span{
        font-size: 2rem;
    }
    .product-conteiner{
        width: 300px;
    }
    .product-item{
        padding: 55px 50px 51px;
    }
    .item-price{
        right: 15px;
    }
    .item-description_hover{
        left: 30px;
    }
    .item-description{
        left: 32px;
        bottom: 38px;
    }
    .showMore{
        margin: 0 auto;
    }
    .showMore-row{
        width: 300px;
    }
    .aboutUs-heading{
        margin: 0 auto;
    }
    .aboutUs-row h2{
        text-align: center;
    }
    .aboutUs-description{
        margin: 33px 20px 44px;
        text-align: center;
    }
    .showMore-items{
        display: block;
        margin: 0 40px;
    }
    .showMore_item{
        margin-bottom: 25px;
    }
    .footer-items{
        padding: 3px 0px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .footer-subscription{
        margin: 0 35px;
    }
    .footer-subscription h3{
        text-align: center;
    }
    form{
        text-align: center;
    }
    .footer-search{
        text-align: center;
    }
    .search input[type="text"]{
        margin: 0 39px 20px;
    }
    .footer-logo img{
        display: none;
    }
    /* second page */
    .machine-item{
        width: 225px;
        margin: 6px 50px 10px;
    }
    .machine-item__heading{
        font-size: 1.5rem;
        margin: 30px 55px;
    }
    .aboutUs-menu ul li a{
        font-size: 0.9rem;
        padding: 0px 15px;
    }
    .aboutUs-menu ul{
        padding: 0;
    }
    .menu__pseudo::after, 
    .menu__pseudo::before{
        bottom: 87.7%;
    }
    .news-description {
        text-align: center;
    }
    .news-item{
        display: block;
    }
    .news-item__description p{
        text-align: center;
    }
    .news-item__description{
        margin: 10px 0 0 0;
    }
    /* card-product */
    
    .cardProduct-other__characteristics ul{
        text-align: left;
    }
}
@media(max-width:375px){
    .burger-menu{
        left: 130%;
    }
    .product-slider{
        margin: 0 25px;
    }
    .product-slider_items{
        max-width: 245px;
        margin: 0 auto 51px;
    }
    .product_items{
        max-width: 245px;
    }
    .product-item{
        padding: 55px 0px 51px;
    }
    .product-item img{
        margin: 0 45px;
    }
    .search input[type="text"]{
        margin: 0 75px 20px;
    }
    .footer-subscription{
        text-align: center;
    }
    .input-description{
        margin: 0 auto;
    }
}
@media(max-width: 335px){
    .burger-menu{
        left: 2%;
    }
}
@media(max-width: 320px){
    .burger-menu{
        left: 0;
    }
    .search input[type="text"]{
        margin: 0 50px 20px;
    }
    .product-slider_items{
        max-width: 245px;
        margin: 0 0 51px;
    }
    .cardProduct-item-left img{
        width: 260px;
    }
    .cardProduct-item-left .item-price{
        right: 0;
    }
}