@font-face{
    font-family: "Myriad";
    src: url(../fonts/myriadProRegular.otf);
    font-weight: normal;
    font-style: normal;
}
body,a{
    font-family: 'Myriad';
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}
.conteiner{
    max-width: 970px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* header */

.header-row{
    border-top: 9px solid #161012;
    background-color: #85a712;
}
.header-top{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
}
.logo{
    width: 205px;
    margin: 11px 27px 0;   
}
.burger-menu{
    display: none;
}
.header-menu{
    margin: 0 0 0 55px;
}
.header-menu_items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
}
.menu-item{
    text-transform: uppercase;
    padding: 23px 0px;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: .7s;
         -o-transition-duration: .7s;
            transition-duration: .7s;
}
.menu-item a{
    padding: 0 13px;
    letter-spacing: 0.4px;
}
.menu-item:hover{
    background-color: #161012;
}
.menu-item:hover::after{
    border: medium solid transparent;
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    height: 0;
    width: 0;
    border-color: #161012 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
    border-width: 7px;
    margin-left: -7px;
}
.block-info{
    background: url(../img/backgraund-first.jpg) no-repeat center top;
    background-size: cover;
}
.info-description{
    height: 304px;
    padding: 149px 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.description-row{
    background-color: #16101287;
}
.info-conteiner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.description-left{
    margin: 0 25px;
    max-width: 475px;
    height: 215px;
    border-top: 1px solid #85a712;
    border-bottom: 1px solid #85a712;
}
.info-slider{
    margin: 0 25px;
}
.slider-description h1{
    text-align: left;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 30px;
}
.slider-description strong{
    font-size: 3rem;
}
.description-rigth{
    width: 203px;
    height: 203px;
    background-color: #85a712;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 54px;
}
.description-rigth_text{
    text-align: center;
}
.description-rigth_text h2{
    font-weight: normal;
    font-size: 1.75rem;
    margin: 0;
    line-height: 33px;
}
.description-rigth_text span{
    font-size: 3rem;
    letter-spacing: 5px;
}
/* main */

.product-row{
    background-color: #161012;
    border-bottom: 7px solid #85a712;
}
.product-conteiner{
    width: 965px;
}
.product-slider_items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 0 51px 45px;
}
.product_items{
    cursor: pointer;
}
.product-item{
    position: relative;
    text-align: center;
    padding: 55px 10px 0;
}
.product-item img {
    margin: 0 0px 0 20px;
    width: 245px;
}
.item-price{
    width: 80px;
    height: 80px;
    background-color: #85a712;
    border-radius: 50%;
    position: absolute;
    top: 37px;
    right: 26px;   
    z-index: 2;
}
.item-price p{
    font-size: 0.75rem;
    padding: 11px 0 0 5px;
}
.item-price span{
    font-size: 1.75rem;
    padding: 0 3px 0 0;
}
.item-description{
    position: absolute;
    bottom: 0px;
    left: 20px;
    background-color: #161012c4;
    width: 84%;
    height: 75px;
}
.item-description p{
    line-height: 10px;
}
.item-description_hover{
    display: none;
    position: absolute;
    top:55px;
    left: 20px;
    background-color: #161012c4;
    width: 84%;
    height: 100%;
    text-align: center;
    -webkit-animation: chenge-block .7s ease-out;
            animation: chenge-block .7s ease-out;
}
@-webkit-keyframes chenge-block{
    0%{
       top: 350px;
    }
    10%{
        top: 250px;
    }
    20%{
        top: 200px;
    }
    30%{
        top: 150px;
    }
    40%{
        top: 100px;
    }
    50%{
        top: 90px;
    }
    60%{
        top: 70px;
    }
    100%{
        top: 54px;
    }
}
@keyframes chenge-block{
    0%{
       top: 350px;
    }
    10%{
        top: 250px;
    }
    20%{
        top: 200px;
    }
    30%{
        top: 150px;
    }
    40%{
        top: 100px;
    }
    50%{
        top: 90px;
    }
    60%{
        top: 70px;
    }
    100%{
        top: 54px;
    }
}
.hover-description_text{
    font-size: 0.75rem;
    line-height: 6px;
    color: #b9bbb1;
}
.hover-description{
    height: 75px;
    width: 210px;
    border-top: 1px solid #85a712;
    border-bottom: 1px solid #85a712;
    margin: 105px auto 35px;
}
.hover-description p{
    margin: 16px 0 -11px 0;
}
.product_items:hover .item-description{
    display: none;
}
.product_items:hover .item-description_hover{
    display: block;
}
/* section aboutUs */
#aboutUs{
    background: url(../img/background-second.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}
.aboutUs-row{
    background-color: #16101287;
    padding: 1px 0;
}
.aboutUs-heading{
    margin: 0 0 0 55px;
}
.aboutUs-row h2{
    width: 150px;
    display: block;
    font-size: 3rem;
    font-weight: normal;
    border-top: 1px solid #85a712;
    border-bottom: 1px solid #85a712;
    padding: 10px 0;
    margin: 31px auto;
}
.aboutUs-description{
    margin: 33px 0 44px 28px;
    line-height: 26px;
}
.aboutUs-description p{
    margin-bottom: 44px;
}
.showMore{
    text-align: center;
    margin: 0 0 -1px 50px;
}
.showMore button{
    padding: 11px 50px;
    background-color: #161012;
    outline: none;
    border: none;
    border-top: 5px solid #85a712;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}
.showMore button:hover{
    background-color: #0f0b0d;
    border-top: 5px solid #789710;
}
.showMore-description{
    border-top: 7px solid #161012;
    border-bottom: 7px solid #85a712;
    background-color: #ffffff;
    color: #111111;
}
.showMore-row{
    width: 950px;
}
.showMore-items{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:1fr 80px 1fr 80px 1fr;
    grid-template-columns:1fr 1fr 1fr ;
    grid-column-gap: 80px;
    margin: 35px -45px 50px 21px;
}
.showMore-date{
    margin-bottom: 5px;
}
.showMore_item h3{
    margin: 5px 0 6px 0;
    color: #85a712;
    letter-spacing: .6px;
}
.showMore-item_description{
    margin-top: 0;
    font-size: 0.75rem;
    line-height: 20px;
    max-width: 250px;
    letter-spacing: 0.6px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
/* footer */
.footer{
    background-color: #161012;
}
.footer-items{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0px 0;
    grid-column-gap: 15px;
}
.footer-subscription{
    margin: 0 25px;
}
.footer-subscription h3{
    font-weight: normal;
    font-size: 1.29rem;
    margin: 15px 0 28px 0;
}
.subscription input[type="text"]{
    background: url(../img/mail.png) no-repeat 97% 50%;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 6px 0;
    width: 225px;
    margin: 0 0 -3px 2px;
}
.input-description{
    font-size: .74rem;
    width: 230px;
}
.input-description p{
    margin: 12px 0 40px 3px;
    line-height: 15px;
    letter-spacing: 0.45px;
}
.signature{
    font-size: .74rem;
    margin: 0px 0 66px 2px;
}
.footer-adress{
    margin: 5px auto;
    text-align: center;
    padding: 0 0 0 30px;
}
.footer-adress p{
    display: block;
    font-size: 0.9rem;
    width: 220px;
    line-height: 18px;
    margin-bottom: 10px;
}
.phone{
    margin: 0 0 10px 0;
    display: block;
}
.phone strong{
    font-size: 1.5rem;
}
.email{
    margin-bottom: 35px;
}
.social ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social ul li a{
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #85a74c;
    margin: 0 10px 0 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.fab,.fas{
    font-size: 18px;
    padding: 8px 1px 0 0px;
}
.social ul li a:hover{
    background-color: #85a712;
}
.search input[type="text"]{
    background: url(../img/Слой\ 26.png) no-repeat 97% 50%;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 6px 0;
    width: 225px;
    margin: 0 -13px 60px 0px;  
}
.footer-search{
    text-align: right;
}
.search h3{
    font-weight: normal;
    font-size: 1.29rem;
    margin: 17px -15px 26px 0px;
}
.footer-logo img{
    margin: 2px -15px 0 0px;
}
/* second page */
.news-description{
    height: 100%;
    padding: 23px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.news-heading h2,
.ourOffers-heading h2,
.photogaleryPage-heading h2,
.cardProduct-heading h2{
    text-align: center;
    display: block;
    width: 200px;
    border-top: 1px solid #85a712;
    border-bottom: 1px solid #85a712;
    padding: 13px 0;
    margin: 0px auto 27px;
    font-size: 2.25rem;
    font-weight: normal;
    font-family: initial;
    letter-spacing: 1px;
}
.news-row{
    background-color: #161012;
    border-bottom: 7px solid #85a712;
}
.machine-item{
    float: left;
    width: 340px;
    margin: 6px 50px 10px 33px;
}
.machine-item__heading{
    color: #85a712;
    margin: 30px 0;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: -0.4px;
}
.news-description p{
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0 auto;
    padding: 0 30px 10px;
    line-height: 22px;
}
.siteName a{
    color: #85a712;
}
.siteName{
    padding: 69px 0 40px 0;
}
.aboutUs-menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 65px 0;   
}
.aboutUs-menu ul li a{
    font-size: 2.25rem;
    padding: 0px 24px;
    font-family: initial;
    font-weight: normal;
}
.menu__pseudo::after,
.menu__pseudo::before{
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 78%;
    background-color: #85a712;
    border: 1px solid #85a712;
    border-radius: 100%;
}
/* third page */

.news-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}
.news-item__img{
    margin:7px;
}
.news-item__description{
    margin: 10px 0 0 35px;
}
.news-item__description h3{
    color: #85a712;
    font-weight: normal;
    margin: 0 0 3px 0px;
    letter-spacing: 1.5px;
    font-family: initial;
    font-size: 1.4rem;
}
.news-item__description p{
    text-align: left;
    font-weight: normal;
    padding: 0;
    font-family: initial;
}
.pagination{
    margin: 0 auto;
}
.pagination ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 5px 0 46px 0;
}
.pagination ul li a{
    padding: 0 5px;
    margin: 0 5px;
    font-family: initial;
    font-size: 1.5rem;
}
.pagination ul li a:hover{
    background-color: #85a712;
}

/* ourOffers-heading - Page */

.ourOffers-heading h2{
    width: 340px;
}
.ourOffers_items a{
    margin: 0 auto 14px;
}

.ourOffers_items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 51px;
}
.ourOffers-product-item img{
    width: 211px;
    margin: -13px auto 0;
}
.ourOffers-product-item{
    position: relative;
    text-align: center;
    padding: 55px 10px 0;
}

.ourOffers-item-price{
    width: 70px;
    height: 70px;
    background-color: #85a712;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 5px;
    z-index: 2;
}
.ourOffers-item-price p{
    font-size: 0.75rem;
    padding: 23px 0 0 5px;
}
.ourOffers-item-price span{
    font-size: 1.75rem;
    padding: 0 3px 0 0;
}
.ourOffers-item-description{
    position: absolute;
    bottom: 0px;
    left: 9px;
    background-color: #161012c4;
    width: 93%;
    height: 65px;
}
.ourOffers-item-description p{
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0 auto;
    padding: 7px 30px 0px;
    line-height: 17px;
}
.ourOffers-item-description_hover{
    display: none;
    position: absolute;
    top: 40px;
    left: 9px;
    background-color: #161012c4;
    width: 93%;
    height: 86%;
    text-align: center;
    -webkit-animation: chenge-ourOffers-block .9s ease-out;
            animation: chenge-ourOffers-block .9s ease-out;
}
@-webkit-keyframes chenge-ourOffers-block{
    0%{
        -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
    }
    100%{
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}
.ourOffers-hover-description_text p{
    font-size: 0.8rem;
    font-weight: normal;
    margin: 20px auto -25px;
    padding: 0px 0 0px;
    line-height: 22px;
    color: #b9bbb1;
}
.ourOffers-hover-description{
    height: auto;
    width: 180px;
    border-top: 1px solid #85a712;
    border-bottom: 1px solid #85a712;
    margin: 89px auto 0px;
    padding: 10px 0 12px;
}
.ourOffers-hover-description p{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
}
.product_items:hover .ourOffers-item-description{
    display: none;
}
.product_items:hover .ourOffers-item-description_hover{
    display: block;
}
/* photogaleryPage */
.photogaleryPage-heading h2{
    width: 220px;
}
.photogaleryPage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 16px auto 0;
}
.photogaleryPage a{
    margin: 0 auto;
}
.photogaleryPage-product-item{
    max-width: 205px;
    background-color: #ffffff;
    margin: 0 auto 47px;
}
.photogaleryPage-product-item img{
    width: 205px;
}
.photogaleryPage-item-description {
    background-color: #85a712;
}
.photogaleryPage-item-description p{
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px 3px;
}

/* card-product */
.cardProduct-description{
    height: 100%;
    padding: 52px 0 7px 0;
}
.cardProduct-heading h2{
    width: 320px;
}
.cardProduct-item{
    display: flex;
}
.cardProduct-item-left{
    position: relative;
}
.cardProduct-item-left img{
    margin: 0 0 0 27px;
}
.cardProduct-item-left .item-price{
    right: -28px;
    top: -17px;
}
.cardProduct-item-left .item-price p{
    padding: 28px 20px 10px;
}
.cardProduct-item__right{
    margin: 0 0 0 25px;
}
.cardProduct-item__title h2{
    margin: -5px 0 0 37px;
    color: #85a712;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: -.4px;
}
.cardProduct-item__characteristics ul li,
.cardProduct-other__characteristics ul
{
    line-height: 24px;
    font-size: 0.9rem;
    font-weight: normal;
}
.cardProduct-btn{
    margin: 0 0 0 39px;
}
.cardProduct-btn button{
    outline: none;
    border: none;
    padding: 10px 55px;
    border-top: 4px solid #ffffff;
    background-color: #85a712;
    margin: 2px 0 0 0;
    transition: .3s;
}
.cardProduct-btn button:hover{
    background-color: #789710;
}
.cardProduct-other__characteristics{
    margin: 43px 0 0 0px;
}
.cardProduct-other__characteristics ul{
    color: #85a712;
    padding: 0 15px 0 28px;
}
.cardProduct-other__characteristics ul li{
    color: #ffffff;
}